/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 62.5%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  background-color: blue;
  margin: 0 auto;
  font-style: normal;
  font-family: sans-serif;
}
nav {
  height: 50px;
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul a {
  color: yellow;
  font-size: 2rem;
  text-decoration: none;
  padding: 0 2%;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
}
header #image {
  height: 40%;
  padding: 5px;
  margin: 2% 2% 0 2%;
  border: 2px dotted red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
header #image img {
  height: 25%;
}
header #image h3 {
  color: yellow;
  font-size: 2rem;
}
header #money-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}
p {
  color: yellow;
  font-size: 1.6rem;
}
p em {
  font-size: inherit;
  text-decoration: underline;
}
h1 {
  color: yellow;
  font-size: 4rem;
}
h2 {
  color: yellow;
  font-size: 3rem;
}
button {
  border-radius: 10%;
  border: [object Object];
  background-color: red;
  padding: 1% 15%;
  color: yellow;
}
#intro {
  display: flex;
  flex-flow: row wrap;
}
#intro .greeting {
  background-color: red;
  color: yellow;
  font-weight: 500;
  width: 40%;
}
#intro .greeting h3 {
  color: yellow;
  font-size: 2rem;
}
#intro .greeting p {
  color: yellow;
  font-size: 1.6rem;
}
#intro .skills {
  width: 40%;
  background-color: blue;
  font-size: 1.6rem;
}
#intro .skills ul {
  color: yellow;
  font-weight: 500;
  font-size: 2.2rem;
}
.work-history {
  display: flex;
  justify-content: center;
}
.work-history table {
  width: 50%;
}
.work-history table td {
  font-size: 2rem;
  color: yellow;
  border: [object Object];
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer copyright {
  font-size: 1.5rem;
  background-color: red;
  color: yellow;
  width: 100%;
  text-align: center;
  height: 10%;
}
